@tailwind base;
@tailwind components;
@tailwind utilities;

.img {
  background-image: url('https://s3-alpha-sig.figma.com/img/cc1e/1afc/fad6c16a7c493086bb877d313b105ba4?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=mTLhNAVAyNU7XUFltYBmZqjNWK0CGts96SeJ-tG3DKFhKMx2JMj5txuwx3WqVs5zTxxkjIL9olNtv0nPLibgYWKvBKhtjA29LHSw6HaedLGKrsmMnKzBK0k6HpUAEUOql1eNJajFkl-Yt-opADYjn9AubewEa~AaHQdDTonyBhTgNoG3xx8G6Qp0zqbSqFOCSujnuo40dywp0AdShHpIqIqy9iN0WR37oJpV6fA1pFKYEI8DKfjwst9govNeFiiQGNjK3GX666DabZzVJRqtwm2cdSaVuKkXBnQZJHSedSvAMgsk7OV5qTE~FQAxjxAGX0eHqVDSbZd8voiYrt8Acw__');
}

.header-bg {
  background-image: radial-gradient(rgba(0, 128, 128, 0.7), rgba(0, 123, 255, 0.1)), url('https://s3-alpha-sig.figma.com/img/cc1e/1afc/fad6c16a7c493086bb877d313b105ba4?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=mTLhNAVAyNU7XUFltYBmZqjNWK0CGts96SeJ-tG3DKFhKMx2JMj5txuwx3WqVs5zTxxkjIL9olNtv0nPLibgYWKvBKhtjA29LHSw6HaedLGKrsmMnKzBK0k6HpUAEUOql1eNJajFkl-Yt-opADYjn9AubewEa~AaHQdDTonyBhTgNoG3xx8G6Qp0zqbSqFOCSujnuo40dywp0AdShHpIqIqy9iN0WR37oJpV6fA1pFKYEI8DKfjwst9govNeFiiQGNjK3GX666DabZzVJRqtwm2cdSaVuKkXBnQZJHSedSvAMgsk7OV5qTE~FQAxjxAGX0eHqVDSbZd8voiYrt8Acw__');
  width: 100%;
  text-align: center;
}